body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-style: solid;
}

th {
    padding: 10px;
}

td {
    padding: 10px;
    text-align: center;
    background-color: lightblue;
}